{% extends "base.html.twig" %}


    
    {% block body %}
    <div class="container">

        <h1 class="montserrat grey-ookan text-center">Mon C<scan class="gold-ookan">Oo</scan>mpte</h1>

         {% if erreurs_image is not empty %}

            <div class="row justify-content-center">
                <div class="alert alert-danger text-center col-4 col-lg-12">
                    {{ erreurs_image|join('<br>')|raw }} 
                </div>
            </div>

        {% elseif successImage == true %}

            <div class="alert alert-success text-center">Photo changée avec succès</div>

        {% endif %}


        {% if liste_erreurs is not empty %}

            <div class="row justify-content-center">
                <div class="alert alert-danger text-center col-4 col-lg-12">
                    {{ liste_erreurs|join('<br>')|raw }} 
                </div>
            </div>

        {% elseif success == true %}

            <div class="alert alert-success text-center">Compte modifié avec succés</div>

        {% endif %}
        
        <div class="justify-content-center text-center row pt-5">
            
            {# Partie sur les infos du profil #}
            <div class="col-lg-6 col-sm-12">
                <h3 class="py-4 montserrat grey-ookan"> Profil de {{ app.session.get('pseudo') }}</h3>
                <h3 class="py-4 montserrat grey-ookan">Modifier mes Infos : </h3>

                {% if app.session.get('pro') == 'oui'  %} 
                


                    <p><b> UTILISATEUR PRO </b></p>

                {% endif %}


                <form id="form1" name="userPhotoForm" method="POST" enctype="multipart/form-data">
                    <h4 class="grey-ookan montserrat">Photo de profil</h4>
                    <div class="form-row my-3">
                        <div class="col">
                        <input type="hidden" name="MAX_FILE_SIZE" value="<?=$maxSizeFile;?>">
                        <input type="file" class="inputAvatar" name="avatar" id="avatar" accept="image/*">
                        <label for="avatar"><img class="photoAvatar" src="/img/profil/avatar.png" height="150px" alt="Votre photo de profil" title="Photo du profil"><i class="main fas fa-camera"></i></label>
                        </div>
                    </div>
                    <input type="submit" name="avatarvalidation" value="Modifier photo">
                </form>

                <form id="form2" name="userDataForm" method="POST" enctype="multipart/form-data">

                    {# <h4 class="grey-ookan montserrat">Photo de profil</h4>
                    <div class="form-row my-3">
                        <div class="col">
                            <input type="hidden" name="MAX_FILE_SIZE" value="<?=$maxSizeFile;?>">
                            <input type="file" class="inputAvatar" name="avatar" id="avatar" accept="image/*">
                            <label for="avatar"><img class="photoAvatar" src="/img/profil/avatar.png" height="150px" alt="Votre photo de profil" title="Photo du profil"><i class="main fas fa-camera"></i></label>
                        </div>
                    </div> #}

                    <h4 class="grey-ookan montserrat">Informations générales</h4>
                    <div class="form-row my-3">
                        <div class="col">
                            <label for="firstname" class="montserrat">Prénom :</label>
                            <input type="text" class="form-control" name="firstname" id="firstname" value="{{ app.session.get('firstname') }}" >
                        </div>
                        <div class="col">
                            <label for="lastname" class="montserrat">Nom :</label>
                            <input type="text" class="form-control" name="lastname" id="lastname" value="{{ app.session.get('lastname') }}" >
                        </div>
                    </div>

                    <div class="form-row my-3">
                        <div class="col">

                            <label for="email" class="montserrat">Email :</label>
                            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" value="{{ app.session.get('email') }}" >

                        </div>
                    </div>

                    {% if app.session.get('pro') == 'oui'  %}

                    <div class="form-row my-3">
                        <div class="col">
                            <label for="siren" class="montserrat">N° SIREN :</label>
                            <input type="number" class="form-control" name="siren" id="siren" value="{{ app.session.get('siret') }}" >
                        </div>
                    </div>

                {% endif %}

                    <h4 class="grey-ookan montserrat">Modification Mot de Passe</h4>
                    <div class="form-row my-3">
                        <div class="col">
                            <small class="montserrat grey-ookan">Ancien Mot de Passe</small>
                            <input type="password" class="form-control" name="lastpassword" id="lastpassword" placeholder="Ancien mot de passe">
                        </div>
                    </div>
                    <div class="form-row my-3">
                        <div class="col">
                            <small class="montserrat grey-ookan">Nouveau Mot de Passe</small>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Nouveau mot de passe (8 caractères min.)">
                        </div>
                    </div>

                    <div class="form-row my-3">
                        <div class="col">
                            <small class="montserrat grey-ookan">Confirmation nouveau Mot de Passe</small>
                            <input type="password" class="form-control" name="confirm-password" id="confirm-password" placeholder="Confirmer le mot de passe">
                        </div>
                    </div>

                    <div class="form-row my-5">
                        <button type="submit" class="btn "><img src="/img/logo/enregistrer.png" width="180" height="60" class="d-inline-block align-top img-fluid" alt=""></button>
                    </div>

                </form>
                {# If particulier #}
            </div>    

            {# Partie sur les ajout et vu d'activité #}
             {% if app.session.get('pro') == 'oui'  %} 
            <div class="col-lg-6 col-sm-12 my-5">

                <h3 class="py-4 montserrat grey-ookan">Activité professionnelle</h3>

                <h5 class="montserrat grey-ookan mb-5">Ajouter votre établissement</h5>

                    <button type="button" class="btn btn-outline-secondary"><a href="{{ path('add_sortie') }}" class="col-4 text-decoration-none text-dark grey-ookan">
                        Sortie
                    </a></button>

                    <button type="button" class="btn btn-outline-secondary"><a href="{{ path('add_restos') }}" class="col-4 text-decoration-none text-dark grey-ookan">
                        Restaurant
                    </a></button>

                    <button type="button" class="btn btn-outline-secondary"><a href=" {{ path('add_activity') }}"class="col-4 text-decoration-none text-dark grey-ookan">
                        Activité
                    </a></button>

                    {% endif %} 


            </div>

        </div> {# Fin de div row #}

    </div> {# Fin de div Container #}
     {% endblock %}