{% extends "base.html.twig" %}

    {% block nav %}
        {% include "partials/nav-connected.html.twig" %}
    {% endblock %}
    
    {% block body %}
    <div class="container">
        <img src="img/logo/mon-compte.png" class="text-center" width="320" height="60">

        
        <div class="row pt-5">
            
            {# Partie sur les infos du profil #}
            <div class="col-lg-6 col-sm-12">
                <h3 class="py-4 montserrat"> Profil de : {{ app.session.get('pseudo') }}</h3>
                <h3 class="py-4 montserrat">Modifier mes Infos : </h3>

                {% if app.session.get('pro') == 'oui'  %} 

                    <p><b> UTILISATEUR PRO </b></p>

                {% endif %}

                <form method="POST" enctype="multipart/form-data">

                    <h4 class="montserrat">Photo de profil</h4>
                    <div class="form-row my-3">
                        <div class="col">
                            <input type="file" class="inputAvatar" name="avatar" id="avatar">
                            <label for="avatar"><img class="photoAvatar" src="/img/profil/avatar.png" height="150px" alt="Votre photo de profil" title="Photo du profil"><i class="main fas fa-camera"></i></label>
                        </div>
                    </div>

                    <h4 class="montserrat">Informations générales</h4>
                    <div class="form-row my-3">
                        <div class="col">
                            <label for="firstname" class="montserrat">Prénom :</label>
                            <input type="text" class="form-control" name="firstname" id="firstname" value="{{ app.session.get('firstname') }}" disabled>
                        </div>
                        <div class="col">
                            <label for="lastname" class="montserrat">Nom :</label>
                            <input type="text" class="form-control" name="lastname" id="lastname" value="{{ app.session.get('lastname') }}" disabled>
                        </div>
                    </div>

                    <div class="form-row my-3">
                        <div class="col">
                            <label for="email" class="montserrat">Adresse Email :</label>
                            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" value="{{ app.session.get('email') }}" disabled>
                        </div>
                    </div>

                    <div class="form-row my-3">
                        <div class="col">
                            <label for="siren" class="montserrat">N° SIREN :</label>
                            <input type="number" class="form-control" name="siren" id="siren" value="{% for user in users %}{{ user.siret }}{% endfor %}" disabled>
                        </div>
                    </div>

                    <h4 class="montserrat">Modification Mot de Passe</h4>
                    <div class="form-row my-3">
                        <div class="col">
                            <input type="password" class="form-control" name="lastpassword" id="lastpassword" placeholder="Ancien mot de passe">
                        </div>
                    </div>
                    <div class="form-row my-3">
                        <div class="col">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Nouveau mot de passe (8 caractères min.)">
                        </div>
                    </div>

                    <div class="form-row my-3">
                        <div class="col">
                            <input type="password" class="form-control" name="confirm-password" id="confirm-password" placeholder="Confirmer le mot de passe">
                        </div>
                    </div>

                    <div class="form-row my-3">
                        <button type="submit" class="btn "><img src="/img/logo/enregistrer.png" width="180" height="60" class="d-inline-block align-top img-fluid" alt=""></button>
                    </div>

                </form>
                {# If particulier #}
            </div>    

            {# Partie sur les ajout et vu d'activité #}
             {% if app.session.get('pro') == 'oui'  %} 
            <div class="col-lg-6 col-sm-12">

                <h3 class="py-4 montserrat">Activité professionnelle</h3>

                <h4 class="montserrat">Ajouter un établissement</h4>

                    <a href="{{ path('add_sortie') }}" class="col-4">
                        Sortie
                    </a>
                    <a href="{{ path('add_restos') }}" class="col-4">
                        Restaurant
                    </a>
                    <a href=" {{ path('add_activity') }}"class="col-4">
                        activitée
                    </a>

                    {% endif %} 


            </div>

        </div> {# Fin de div row #}

    </div> {# Fin de div Container #}
     {% endblock %}