<header class="d-flex flex-column justify-content-center align-items-center">

	<img id ="top" src="/img/header/toulouse4.jpg" class="img-fluid w-100" alt="Responsive image">

	<!--<div class="title_header text-center pt-5">
		<img src="/img/logo/slogan.png" class="img-fluid" width="700" >
	</div>-->
		

	<div class="container-fluid text-center bg-transparent">
		<ul class="d-flex justify-content-center header-nav">

			<li id="li-visite" class="my-2 mx-5 d-block text-center montserrat">
                <a href="{{ path('show_sorties')}}"><img src="/img/logo/sortie.png" class="nav-image" width="120" height="120" alt="sortir"></a>
                <h4>
                    <a style="text-decoration:none" class="nav-visite" href="{{ path('show_sorties')}}">Sorties</a>
                </h4> 
            </li>

			<li id="li-visite" class="my-2 mx-5 d-block text-center montserrat">
				<a href="{{ path('show_restos')}}"><img src="/img/logo/resto.png" class="nav-image" width="120" height="120" alt="restaurants"></a> 
				<h4>
					<a style="text-decoration:none" class="nav-visite" href="{{ path('show_restos')}}">Restos</a>
				</h4> 
			</li>

			<li id="li-visite" class="my-2 mx-5 d-block text-center montserrat">
				<a href="{{ path('show_activies')}}"><img src="/img/logo/activity.png" class="nav-image" width="120" height="120" alt="activités"></i></a>
				<h4>
					<a style="text-decoration:none" class="nav-visite" href="{{ path('show_activies')}}">Activités</a>
				</h4> 
			</li>

		</ul>
	</div>

</header>