<header class="d-flex flex-column justify-content-center align-items-center">

	<img src="/img/header/toulouse2.jpg" class="img-fluid w-100" alt="Responsive image">

	<!--<div class="title_header text-center pt-5">
		<img src="/img/logo/slogan.png" class="img-fluid" width="700" >
	</div>-->
		

	<div class="container-fluid text-center bg-transparent">
		<ul class="d-flex justify-content-center">

			<li id="li-visite" class="my-2 mx-5 d-block text-center montserrat">
				<a href="{{ path('les_sorties')}}"><i class="fas fa-glass-cheers nav-visite"></i></a>
				<h4>
					<a style="text-decoration:none" class="nav-visite" href="{{ path('les_sorties')}}">Sorties</a>
				</h4>  
			</li>


			<li id="li-visite" class="my-2 mx-5 d-block text-center montserrat">
				<a href="{{ path('show_restos')}}"><i class="fas fa-utensils nav-visite"></i></a> 
				<h4>
					<a style="text-decoration:none" class="nav-visite" href="{{ path('show_restos')}}">Restos</a>
				</h4>
			</li>


			<li id="li-visite" class="my-2 mx-5 d-block text-center montserrat">
				<a href="{{ path('les_activites')}}"><i class="fas fa-running nav-visite"></i></a>
				<h4>
					<a style="text-decoration:none" class="nav-visite" href="{{ path('les_activites')}}">Activités</a>
				</h4>
			</li>

		</ul>
	</div>

</header>