{% extends 'base.html.twig' %}

{% block title %}Consulter les restOorants{% endblock %}

{% block body %}

	<h2 class="text-center">Les meilleurs endroOits</h2> 

	<table>

		<th>Nom</th>   
		<th>Type</th>   
		<th>Photo</th> 
		<th>Description</th>   
		<th>Adresse</th>
		<th><a href="{{ path('add_sortie')}}">Ajouter</a></th>

		{% for OneSortie in sorties %}
			<tr> 
				<td>{{ OneSortie.getPlacename() }}</td>
				<td>{{ OneSortie.getType() }}</td>
				<td>{{ OneSortie.getPhoto() }}</td>
				<td>{{ OneSortie.getDescription() }}</td>
				<td>{{ OneSortie.getAddress() }}</td>
			</tr> 
		{% endfor %}  

	</table>

{% endblock %} 
