{% extends 'base.html.twig' %}

{% block title %}Consulter les restOorants{% endblock %}

{% block body %}

	<h2 class="text-center montserrat">Les meilleures activités Toulousaines</h2> 

	<div class="col-10 m-auto text-white mb-3 mt-3 montserrat" style="border-radius:10px">
			<a href="{{ path('add_activity')}}">Ajouter</a>
			{% for OneActivity in activities %}
				<div id="" class="bg-light row justify-content-center encart my-3 p-3" style="border-radius:10px">
					<div class="d-flex justify-content-center m-auto align-items-center">
						<img class="border vignette" src="/img/logo/photo-dispo.jpg">
					</div>
					<div class="col-7">
						<div class="row">
							<div class="col-6">
								<h2>{{ OneActivity.getName() }}</h2>
								<hr>
								<small>Un mot sur l'activité' :</small>
								<p>{{ OneActivity.getDescription() }}</p>
							</div>
							<div class="col-6">
								<small>Adresse :</small>
								<p>{{ OneActivity.getStreetnum() ~ ' ' ~ OneActivity.getStreetname() ~ ' ' ~ OneActivity.getCp() ~ ' ' ~ OneActivity.getVille() }}</p>
							</div>
						</div>
					</div>
					<div class="col-3">
						<p>
							<div class="border m-3 p-2" id="map{{OneActivity.getId()}}" style="height:15rem;border-radius:10px;width:15rem">
								<!-- id="map5" par exemple -->
							</div>
						</p>
					</div>
				</div>
			{% endfor %}
		</div>

{% endblock %} 

{# javascript #}
{% block js %} 

<script src="https://maps.google.com/maps/api/js?key=AIzaSyAmkMmW6mnFdvnyhblcCnqYBsXvLsuJdyQ" type="text/javascript"></script>
{# AXIOS pour tester #}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>	

<script type="text/javascript">
/**
 * Fonction d'initialisation de la carte
 * @param param_latitude La latitude
 * @param param_longitude La longitude
 */
function initMap(param_latitude, param_longitude, param_posmarker, target_id){

	// Créer l'objet "map" et l'insèrer dans l'élément HTML qui a l'ID "map"
	map = new google.maps.Map(document.getElementById(target_id), {
		// Nous plaçons le centre de la carte avec les coordonnées ci-dessus
		center: new google.maps.LatLng(param_latitude, param_longitude), 
		// Nous définissons le zoom par défaut
		zoom: 17, 
		// Nous définissons le type de carte (ici carte routière)
		mapTypeId: google.maps.MapTypeId.ROADMAP, 
		// Nous activons les options de contrôle de la carte (plan, satellite...)
		mapTypeControl: false,
		// Nous désactivons la roulette de souris
		scrollwheel: false, 
		mapTypeControlOptions: {
			// Cette option sert à définir comment les options se placent
			style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR 
		},
		// Activation des options de navigation dans la carte (zoom...)
		navigationControl: false, 
		navigationControlOptions: {
			// Comment ces options doivent-elles s'afficher
			style: google.maps.NavigationControlStyle.ZOOM_PAN 
		}
	});
	var marker = new google.maps.Marker({
	     position: {lat: param_latitude, lng: param_longitude},
	     map: map,
     });
}
</script>
	
<script async type="text/javascript">
// La page est chargée
window.onload = function(){


	{% for activity in activities %}

	// Récupération de la latitude & longitude
	var location = '{{ activity.getStreetnum() ~ activity.getStreetname() ~ activity.getCp() ~ activity.getVille() }}';
	axios.get('https://maps.googleapis.com/maps/api/geocode/json',{
		params:{
			address: location,
			key: 'AIzaSyAmkMmW6mnFdvnyhblcCnqYBsXvLsuJdyQ'
		}
	})
	.then(function(response){
		

		// "response" me donne le résultat
		var location = response.data.results[0].geometry.location;
		var markerposition = response.data.results[0].formated_address;

		initMap(location.lat, location.lng, markerposition, 'map{{activity.getId()}}');

	})
	.catch(function(error){
		
	});

	{%  endfor %}

};


</script>


{% endblock %} 